.app-logo{
  animation: app-logo-spin infinite 20s linear;
}

@keyframes app-logo-spin{
   from{
       transform: rotate(0deg);
   }
   to{
      transform: rotate(360deg);
   }
}

.app-title{
  font-size:1.5rem;
}

.app-header{
   background-color:#222;
   color:white;
   display:flex;
   height:80px;
   justify-content: space-around;
   padding:20px;
}